<!--Main Login Page
This page(currently not stylized) retrieves data from the user base.
fetch.php and register.php assume that the admin is root@localhost
and the database is 'covelogins'. This is also mentioned in lines 13-16
in fetch.php and register.php.

Sorry if the code is terrible; the learning curve is steeper than Lomo
- William
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-example7-production</title>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script src="connect.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="normalize.css">


</head>
<body ng-app="LoginApp">
<div id="main" ng-controller="LoginController">
    <!--Initial Login Page-->
    <div ng-show="action == 0">
        <section class="loginform cf">
            <ul>
                <h1>Member Login</h1>
                <p>Login below, or <button ng-click="setAction(1)">click here to register</button></p>
                <form>
                    <fieldset>
                        <li>
                            <label for="username">Username:</label>
                            <input type="text"  name="username" id="username" ng-model="userName" placeholder="username" required/>
                        </li>
                        <li>
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" ng-model="userPassword" placeholder="password" required/>
                        </li>
                        <li>
                            <input type="submit" name="login" id="login" value="Login" ng-click="login()"/>
                        </li>
                    </fieldset>
                </form>


            </ul>
        </section>
<!--
        <p>Username: {{userName}}</p>
        <p>Password: {{userPassword}}</p>
        <p>UserID: {{userID}}</p>
        <p>Action: {{action}}</p>-->
    </div>

    <!--Registration-->
    <div ng-show="action == 1">
        <section class="loginform cf">
            <ul>
                <h1>Register</h1>
                <p>Sign up below, or <button ng-click="setAction(0)">click here to go back</button></p>
                <form>
                    <fieldset>
                        <label for="username">Username:</label><input type="text" name="username" id="username"  ng-model="userName"/>
                        <label for="password">Password:</label><input type="password" name="password" id="password" ng-model="userPassword"/>
                        <label for="email">Email Address:</label><input type="text" name="email" id="email" ng-model="userEmail"/>
                        <input type="submit" name="register" id="register" value="Register" ng-click="register()"/>
                    </fieldset>
                </form>
            </ul>
        </section>


    </div>

    <!--Successful Login-->
    <div ng-show="action == 2">
        <h1>Successfully logged in!</h1>
        <p>Now redirecting to member area.</p>
        <!--Replace index.php -->
        <meta http-equiv='refresh' content='=0;redirect.html' />
        <p>If you are not redirected in 5 seconds, click <a href="redirect.html">here </a> to continue. </p>
    </div>

    <!--Successful Registration-->
    <div ng-show="action == 3">
        <h1>Successfully registered!</h1>
        <p>Taking you back to the login page...</p>
        <meta http-equiv='refresh' content='=0;index.html' />
        <p>If you are not redirected in 5 seconds, click <a href="index.html">here</a> to continue.</p>

    </div>
</div>
</body>
</html>


